doctype html
html
    head
        title 运宝通
        link(rel="icon" type="image/png" href="images/favicon.ico")
        link(rel='stylesheet' href='/stylesheets/style.css')
        link(rel='stylesheet' href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css")
        script(src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js")
        script(src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js")
    body
        //NAVBAR
        nav.navbar.navbar-fixed-top.navbar-default(style="background-color:white")
            .container
                .navbar-header
                    span.icon-bar
                        a.navbar-brand(href='#' style='padding-top:8px')
                            img(src='images/logo.svg' width="107" height="32" )
                .navbar-collapse.collapse(id='navbar')
                    ul.nav.navbar-nav.navbar-right
                        each nav in navs
                            li.media(style='margin-top: 15px')
                                a(href=`${nav.url}`)
                                    p= nav.urlText
        div(style='padding-top: 30px')
            block content
